# 配置数据源
datasource:
  # mysql/postgres/gauss
  platform: mysql
  # 数据库连接 URL：支持 mysql 驱动和 postgresql 驱动
  #url: jdbc:postgresql://127.0.0.1:5432/lxrdb
  #url: jdbc:gaussdb://127.0.0.1:15432/wsydb0
  url: jdbc:mysql://127.0.0.1:3306/lxrdb0?serverTimezone=UTC&useServerPrepStmts=true&cachePrepStmts=true&allowLoadLocalInfile=true
  username: root
  password: root
  # 数据库 JDBC 驱动：支持 mysql 驱动、postgresql 驱动、gauss200 驱动
  # org.postgresql.Driver/com.mysql.cj.jdbc.Driver/com.huawei.gauss200.jdbc.Driver
  #driverClassName: org.postgresql.Driver
  driverClassName: com.mysql.cj.jdbc.Driver

# 数据库模式配置
schema:
  # Schema中表的数量生成规则
  tableNumber:
    # 大部分数量配置都采用这种模式，后续类似配置项如无额外说明，请参照此项说明
    # 起始值/下界（包含）
    begin: 1
    # 终止值/上界（不包含）
    end: 2
    # 只支持 UNIFORM
    distribution: UNIFORM

  table:
    # 表的数据量生成规则
    recordNumber:
      begin: 1
      end: 2
      distribution: UNIFORM
    # 主键配置
    primaryKey:
      # 主键包含的属性列数量
      attributeNumber:
        begin: 0
        end: 1
        distribution: UNIFORM
      # 主键属性列类型分布（百分比 %，各项总和应为 100，后续比例配置如无特殊说明则依次规则）
      dataType:
        INTEGER: 30
        VARCHAR: 70
    # 唯一键配置
    uniqueKey:
      attributeNumber:
        begin: 1
        end: 2
        distribution: UNIFORM
      dataType:
        INTEGER: 30
        VARCHAR: 70
    # 外键配置
    foreignKey:
      # 外键包含的属性列数量
      foreignKeyNumber:
        begin: 0
        end: 1
        distribution: UNIFORM
    # 普通属性列配置
    attribute:
      # 普通属性列数量
      attributeNumber:
        begin: 2
        end: 3
        distribution: UNIFORM
      # 普通属性列数据类型分布
      dataType:
        INTEGER: 50
        VARCHAR: 50
        DOUBLE: 0
        DECIMAL: 0
    # 为每一列添加索引的概率(%, 百分比)
    indexProbability: 50
    usePartition: true
    # 表级约束 (meta data)
    useRowFormat: true

# 事务配置
transaction:
  # 是否加入噪音
  ifNoise:
    begin: 0
    end: 1
  # 每个事务中操作数目
  operationNumber:
    begin: 5
    end: 8
    distribution: UNIFORM
  # 操作类型分布
  operationType:
    INSERT: 40
    UPDATE: 20
    DELETE: 0
    SELECT: 40
  # SELECT 语句配置
  select:
    # project 配置
    project:
      # project属性选择方式
      attributeType:
        # 随机选择
        RANDOM: 30
        # 选择所有的 PrimaryKey 和 ForeignKey
        ALL_KEY: 0
        # 选择所有的 普通属性列
        ALL_NON_KEY: 70
      # 随机选择模式的情况下，选择的属性列数量
      attributeNumber:
        begin: 1
        end: 3
        distribution: UNIFORM
    # where 条件配置
    where:
      # where 条件中的属性列分布
      attributeType:
        PRIMARY_KEY: 40
        FOREIGN_KEY: 40
        NON_KEY: 20
      # where 条件 predicate 配置
      predicate:
        # predicate 类型分布
        operator:
          EQUAL_TO: 100
          GREAT_THEN: 0
          LESS: 0
          GREAT_EQUAL: 0
          LESS_EQUAL: 0
          NOT_EQUAL: 0
          LIKE: 0
          IN: 0
          BETWEEN: 0
    # select 锁定模式
    lockMode:
      SELECT_FOR_UPDATE: 25
      SELECT_LOCK_IN_SHARE_MODE: 0
      SELECT: 75

    # 生成 Order By 字句的概率
    orderByProbability: 30


# 负载加载器配置
loader:
  # 是否对 schema 进行调整
  enableSchemaCustomization: false
  # true 则使用 load data infile 进行初始数据导入, 否则使用 insert 语句进行数据导入
  useLoadInfile: false
  # 事务模板数量
  numberOfTransactionCase: 40
  # 线程数
  numberOfLoader: 10
  # 每个线程加载多少个事务后终止
  execCountPerLoader: 100
  # 每个线程执行多长时间后终止(秒)，仅在 execCountPerLoader <= 0 时生效
  execTimePerLoader: 0
  # SQL执行超时时间
  queryTimeout: 1
  # 时间单位: 仅支持 SECONDS
  queryTimeoutUnit: SECONDS
  # 访问分布：NORMAL, UNIFORM
  visitDistribution: UNIFORM
  # 访问分布参数: 只应用于INSERT/DELETE/UPDATE，SELECT语义复杂，难以定义访问分布
  # UNIFORM: "min(包含),max（包含）"；
  # ZIPFIAN："r（数据总量）,alpha（指数参数）"
  distributionParams: "0,10"
  # true 则操作保持串行，事务仍然并行
  serial: false
  # 每次增删改查之后添加SavePoint的概率(%)
  probOfSavepoint: 0
  # 是否写 Trace
  trace: true
  # 隔离级别分布比例(%)
  isolation:
    READ_UNCOMMITTED: 70
    READ_COMMITTED: 30
    REPEATABLE_READ: 0
    SERIALIZABLE: 0
  # Trace分片大小，辅助实现流式分析
  slice: 1000

# Schema中数据格式配置
dataFormat:
  # 整数长度
  integerLength: 11
  # varchar 长度
  varcharLength: 140
  # decimal precision
  decimalPrecision: 10
  # decimal scale
  decimalScale: 0
  # double precision
  doublePrecision: 38
  # double precision
  doubleScale: 17
  # blob 长度
  blobLength: 255

# 数据生成配置
dataGenerate:
  # 数据分区算法
  partitionAlgoConfig:
    # 这个使用小数配置
    probOfStatic: 0.5 # 静态区概率
    probOfDynamicExists: 0.5 # 动态区初始存在概率
  pkParamConfig:
    step: # pkId步长
      begin: 5
      end: 10
      distribution: UNIFORM
  fkParamConfig:
    distMap:
      UNIFORM: 100 # 使用UNIFORM的概率(%)
      NORMAL: 0 # 使用NORMAL的概率(%)
  attrParamConfig:
    distMap:
      UNIFORM: 100 # 使用UNIFORM的概率(%)
      NORMAL: 0 # 使用NORMAL的概率(%)
  dataRepoConfig:
    #>>>>>>>>>>>>> VARCHAR <<<<<<<<<<<<<<#
    # 期望的元素数目，程序会随机生成这么多次，但是会剔除重复值，并不会一直生产直至达到这么多，以免陷入死循环
    numOfVarchar: 100
    # 每一个varchar的长度
    lenOfVarchar:
      begin: 1
      end: 3
      distribution: UNIFORM
    # 包含的字符
    charsOfVarchar: "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ123456"

    #>>>>>>>>>>>>> INTEGER <<<<<<<<<<<<<<#
    numOfInteger: 100
    seedOfInteger: # 使用该种子生成数据
      begin: 0
      end: 100000
      distribution: UNIFORM

    #>>>>>>>>>>>>> DOUBLE <<<<<<<<<<<<<<#
    numOfDouble: 10
    seedOfDouble: # 使用该种子生成数据
      begin: 0
      end: 100000
      distribution: UNIFORM

    #>>>>>>>>>>>>> DECIMAL <<<<<<<<<<<<<<#
    numOfDecimal: 100
    seedOfDecimal: # 使用该种子生成数据
      begin: 0
      end: 100000
      distribution: UNIFORM

    #>>>>>>>>>>>>> TIMESTAMP <<<<<<<<<<<<<<#
    numOfTimestamp: 10
    seedOfTimestamp: # 使用该种子生成数据
      begin: 0
      end: 1000000000
      distribution: UNIFORM

    #>>>>>>>>>>>>> BLOB <<<<<<<<<<<<<<#
    numOfBlob: 100
    lenOfBlob: # 长度
      begin: 10
      end: 30
      distribution: UNIFORM
  # 分区方式："HASH","FIXED"
  partitionStrategy: "FIXED"

replay:
  anaOnly: false
  serial: true
  limitedEndValid: true
  flatten: false